/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    h1 {
        font-size: 4em;
        font-weight: bold;
    }

    h2 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.5em;
    }

    #header,
    #skillheader,
    #projectsheader {
        padding-right: 25px;
        padding-left: 25px;
    }

    #navigation li {
        font-size: 1em;
    }

    #navigation ul {
        padding: 0;
        justify-content: space-around;
    }

    #header {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    /* Skills section */

    #skillheader {
        padding-top: 50px;
        height: auto;
        padding-bottom: 50px;
    }

    #skills li {
        font-size: 1em;
    }

    ul {
        padding: 0;
    }

    /* Project section */

    #projectsheader {
        padding-top: 50px;
        height: auto;
        padding-bottom: 50px;
        margin-top: 0;
    }

    #work {
        padding: 0px;
    }

    #projects {
        display: flex;
        margin-top: 0px;
    }

    #work img {
        width: 300px;
    }

    #work p {
        font-size: 1em;
    }

    /* Footer */
    footer {
        height: auto;
    }

    footer p {
        font-size: 1em;
        padding-bottom: 50px;
        margin: 0;
    }

}