@media (min-width: 320px) and (max-width: 480px) {

  main {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  #intro h1 {
    font-size: 4rem;
  }

  #intro label {
    font-size: 2rem;
  }


  h1 a {
    font-size: 3rem;
  }

  .fab {
    font-size: 3rem;
  }

  #social-icons {
    margin-top: 25px;
    display: flex;
    margin-bottom: 100px;
  }

}