* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff;
}

main {
  height: 60%;
  width: auto;
  margin: auto;
  margin-left: 150px;
  margin-right: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Global Styles */

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0px;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

li {
  font-size: 1.2rem;
  line-height: 2;
}

#intro,
#work {
  display: flex;
  flex-direction: column;
}


#intro label {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: rgb(194, 194, 194);
}

#intro h2 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: normal;
  width: 80%;
}

.fab {
  font-size: 1.75rem;
  color: black;
}

.fab:hover {
  transition: 0.2s ease-in;
  color: rgb(0, 47, 255);
}

#social-icons {
  margin-top: 15px;
  display: flex;
  margin-bottom: 25px;
}

#social-icons a {
  margin-right: 25px;
}

#portfolio a {
  font-weight: bold;
}

#email {
  margin-bottom: 100px;
}

footer {
  background-color: rgb(192, 192, 192);
  text-align: center;
  height: auto;
  width: auto;
}