* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

main {
  height: 60%;
  width: auto;
  margin: auto;
  margin-left: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#intro-text {
  display: flex;
  flex-direction: column;
}

#intro-text p {
  font-size: 1.75rem;
  margin-right: 500px;
  line-height: 2;
}

.fab {
  font-size: 3rem;
  color: black;
}

.fab:hover {
  transition: 0.2s ease-in;
  color: rgb(0, 47, 255);
}

#social-icons {
  margin-top: 25px;
  display: flex;
  margin-bottom: 25px;
}

#social-icons a {
  margin-right: 35px;
}